# ----------------------
# Python (Backend)
# ----------------------
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# ----------------------
# Node (Frontend)
# ----------------------
node_modules/
dist/
build/

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# IDE / Editor
# ----------------------
.vscode/
.idea/

# ----------------------
# Database
# ----------------------
*.sqlite3

# ----------------------
# Uploads (optional)
# ----------------------
backend/uploads/